*.dll
*.exe
.DS_Store
example.tf
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.terraform
.terraform/modules
.terraform/plugins
.vagrant/
*.backup
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
*.plan
credentials.dr
changes.terraform
/ansible/besu-cluster/roles/lacchain-bootnode/
